body {
	background-image: url("img/ScrapBackground.jpg");
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
}
#main {
	background-color: #aebed5;
	width: 600px;
	height: auto;
	border: 1px solid;
	border-color: black;
	box-shadow: 5px 5px 5px #888888;
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -206.5px;
	padding-top: 70px;
	padding-bottom: 70px;
}
/*on the homepage*/
#PicMeLogin {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 60px;
	text-align: center;
	margin: 0;
}

#LoginDescription, #RegisterDescription {
	color: white;
	text-align: center;
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
}
#registerError, #loginError, #postError{
	color: #EE3B3B;
	text-align: center;
	margin: 0;
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
	clear: both;
}
#pictureRegisterP{
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	padding-top: 10px;
	margin-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 2px;
}
#pictureRegister {
	width: 280px;
	margin: 0 auto;
	margin-left: 160px;
}
#or {
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0;
}
.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #e5ecf4;
	color: #3e4f6f;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	border-radius: 10px;
	text-align: center;
	margin-left: 252px;
	margin-right: 252px;
	display: block;
	clear: both;
}

.resultButton {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #3e4f6f;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	float: left;
	width: 100%;
}

.button:hover {
	background-color: #acbad4;
	color: white;
}
.resultButton:hover {
	cursor: pointer;
	background-color: #EEEEEE;
}
.inputSection {
	width: 280px;
	margin: 0 auto;
	display:block;
}
.inputSection input {
	width: 140px;
	float: right;
	margin-top: 5px;
}
.inputSection label {
	clear: both;
	float: left;
	margin-top: 5px;
}
form{
	overflow: hidden;
}
#topBar {
	width: 100%;
	height: 80px;
	background-color: #aebed5;
	position: fixed;
	top: 0%;
	z-index: 2;
}
#PicMeTitle {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
	margin: 0;
	padding-left: 10px;
	display: inline;
}
#PicMeTitle:hover {
	cursor: pointer;
}
#search, #findFriends{
	display: inline-block;
	width: 400px;
	font-size: 25px;
	margin-left: 20px;
	position: relative;
}

#searchResults {
	display: block;
	background-color: rgba(255, 255, 255, 1.0);
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
	width: 400px;
	border: 1px solid;
	border-color: black;
}

#feedTitle {
	color: #3e4f6f;
	font-size:22px;
	margin-top: 10px;
	display: block;
}
#content {
	width: 700px;
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
#mainFeed, #posts{
	width: 600px;
	height: auto;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: 80px;
	z-index: 1;
}
#Feed {
	width: 600px;
	height: auto;
	margin: 0 auto;
	clear: both;
}
#postButton , #uploadButton{
	float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	display: inline;
	clear: none;
	margin-left: 10px;
}
.buttons {
	float: right;
}

.emptyFeed {
	text-align: center;
	clear: both;
}
#postInput {
	width: 100%;
	height: 5em;
	font-size: 14px;
}
#imageInput {
	width: 100%;
	resize: none;
	line-height: 20px;
	margin-top: 10px;
}

#imageLinkInput {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	resize: none;
	font-size:14px;
	overFlow: hidden;
}
.post {
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: white;
	border-color: #CCCCCC;
	border: 1px solid;
	border-color: black;
	box-shadow: 5px 5px 5px #888888;
	overflow: auto;
}

.postProfilePic {
	width: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}
.usernameSays {
	position: absolute;
	margin-top: 10px;
	display: inline;
	padding: 0px;
}
#topProfilePic {
	width: 50px;
	margin-right:10px;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	
}

.resultImage {
	width: 40px;
	margin: 10px 10px 10px 10px;
	display: inline;
}
.resultName {
	display: inline;
}
.ResultUsername {
	display: inline;
	margin-left: 10px;
	clear: left;
}

.post h3, .post p{
	margin-left: 20px;
	margin-right: 20px;
}
.post h3 {
	display: inline;
}
hr {
	clear: both;
	border-color: black;
}
.x {
	float: right;
	padding: 2px 2px 2px 2px;
	color: red;
}
.x:hover {
	background-color: #EEEEEE;
	border: 1px solid;
	cursor: pointer;
}
.postPicture {
	margin: 10px 10px 0px 10px;
	width: calc(100% - 20px);
}

.likePicture, .dislikePicture {
	width: 20px;
	margin: 10px 10px 10px 10px;
	float: right;
}
.likePicture:hover, .dislikePicture:hover {
	cursor: pointer;
}
.numLikes {
	display: inline;
	color: green;
	float: left;
}

.numDislikes {
	display: inline;
	color: red; 
	float: left;
}

.profilePic {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
	border: 1px solid;
	border-color: black;
	
}
#profileLinkInput{
	width: 150px;
	padding-top: 2px;
	padding-bottom: 2px;
	resize: none;
	font-size:14px;
	overFlow: hidden;
	margin: 0 auto;
	display: block;
}
.userPageTitle {
	text-align: center;
	margin: 0px 0px 5px 0px;
}
.profilePic {
	margin-top: 10px;
}
.profileButton {
	margin: 0 auto;
	width: auto;
	margin-left: -25px;
	margin-top: 5px;
}